<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Custom HttpSession Implementation</title>
    </h:head>
    <h:body>
        <h2>Custom HttpSessionWrapper Implementation Info</h2>
        <ul>
            <li>JSESSIONID --&gt; #{request.session.id}</li>
            <li>INFO --&gt; #{index.info}</li>
            <li>Last Accessed Time --&gt; #{request.session.lastAccessedTime}</li>
        </ul>

        <h2>HttpSession Attribute Names</h2>
        <ul>
            <ui:repeat value="#{index.attributeNames}" var="name">
                <li>#{name}</li>
            </ui:repeat>
        </ul>

    </h:body>
</html>

